@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

/***************** TO BE REFACTORED ***************** /

/* General*/
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
}

.fit-content {
    min-width: fit-content;
}

.submitname {
    background: url('./assets/img/summit-name.jpg') center center / cover no-repeat;
}

.votingbox {
    min-height: 550px;
}

.flip-horizontal {
    transform: rotateY(180deg);
}

.underline {
    text-decoration: underline;
}

.dotted {
    border-top: 1px dotted grey;
}

.size-1 {
    font-size: 1rem;
}

.size-2 {
    font-size: 2rem;
}

.size-3 {
    font-size: 3rem;
}

.dark-blur-background {
    background: rgba(37, 37, 37, 0.48);
    backdrop-filter: blur(20px);
}

.btn:hover svg {
    transition: all .2s ease-in-out;
    transform: scale(1.2);
}

/* Header */

.navbar--gradient {
    background: linear-gradient(to bottom, rgba(59,59,59,1) -50%, rgba(255,255,255,0) 100%);
    height: 100px;
}

.navbar-collapse.show{
    background: rgba(10, 10, 10, 0.43);
    backdrop-filter: blur(40px);
    z-index: 1;
}

.navbar-collapse.show .nav-item:hover {
    background: rgba(10, 10, 10, 0.8);
}

/* Hero */

.hero {
    background: center top / cover no-repeat;
    min-height: 850px;
    height: 80vh;
}

.hero__vote {
    height: 80px;
}

.progress {
    height: 50px;
}

.hero__progress--past {
    background: rgba(62, 62, 62, 0.2);
    overflow: unset;
}

.hero__progress--past::after {
    content: "";
    position: absolute;
    right: -8px;
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;
    border-left: 8px solid rgba(62, 62, 62, 0.3);
    border-right: 0px solid rgba(62, 62, 62, 0.3);
    border-top: 5px solid transparent;
}

.hero__progress--next {
    background: rgba(235, 235, 235, 0.7);
}

/* Voting */

.voteup--transparent {
    background: rgba(44, 186, 179, 0.8);
}

.votedown--transparent {
    background: rgba(254, 180, 50, 0.8);
}

.voteup--transparent, .votedown--transparent  {
    border: 2px solid transparent!important;
}

.voteup--transparent:focus, .votedown--transparent:focus  {
    border: 2px solid #fff!important;
    box-shadow: none;
}
.voteup--transparent:focus, .voteup--transparent:active  {
    background-color: rgba(44, 186, 179, 0.8)!important;
}

.votedown--transparent:focus, .votedown--transparent:active {
    background-color: rgba(254, 180, 50, 0.8)!important;
}

.btn.voteup--transparent:hover {
    background-color: rgba(44, 186, 179);
}

.btn.votedown--transparent:hover {
    background-color: rgba(254, 180, 50);
}

/* Message */

.speakout__close {
    position: absolute;
    top: 15%;
    right: 30px;
}
